@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
  --main: #FD2026;
  --slightly-lighter: #1E1E1E;
  --light: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--slightly-lighter);
  margin: 0;
  font-family: var(--font-inter), var(--font-geist-mono), sans-serif;
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background);
}

header .logo {
  height: 60px; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 150px;
}

nav ul li {
  position: relative;
  color: var(--main);
}

.t{
  margin-top:20px;
  margin-right:20px;
}
nav ul li a {
  color: var(--main);
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background);
  list-style: none;
  padding: 10px;
  margin: 0;
  padding-left: 10px;
  border-left: solid 2px var(--light);
  transform: translatex(-30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px; 
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  padding: 10px 20px; 
  color: var(--light);
  position: relative;
}

nav ul li ul li a {
  color: var(--light);
  text-decoration: none;
}

nav ul li ul li:hover {
  background-color: var(--background);
  color:var(--main)
}

nav ul li ul li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
}
