.textTopRight {
  position: absolute;
  top: 10%;
  right: 10%;
  text-align: right;
  font-size: 5rem;
  z-index: 1;
}

.textBottomLeft {
  position: absolute;
  bottom: 20%;
  left: 10%;
  text-align: left;
  font-size: 5rem;
  z-index: 1;
}
